@model SurveyDemoApp.ViewModels.NewSubmissionViewModel

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<h3>Please complete the following form</h3>

<hr />

<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="POST" asp-action="MultiCreate">
            @for (int i = 0; i < Model.allQuestions.ToList().Count; i++)
            {
            <div class="form-group">
                <input name="SurveyId" type="hidden" value="@Model.SurveyId" class="control-label" />
                <input name="QuestionId" type="hidden" value="@Model.allQuestions.ToList()[i].Id" class="control-label" />
                <label class="control-label">@Model.allQuestions.ToList()[i].QuestionNo</label>
                <label class="control-label">@Model.allQuestions.ToList()[i].QuestionText</label>
                <input name="AnswerText" type="text" class="form-control" />
            </div>
            }
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
        
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js">
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
