
@model SurveyDemoApp.ViewModels.NewSubmissionViewModel

@{
    ViewBag.Title = "NewSubmissionViewModel";
}

<h2>Create New Submission</h2>
<hr />
<select>
    @*Iterating Employee ViewModel *@
    @foreach (var item in Model.allQuestions)
    {
        <option>@item.QuestionText</option>
    }
</select>

