
@model SurveyDemoApp.ViewModels.NewSubmissionViewModel

@{
    ViewBag.Title = "NewSubmissionViewModel";
}

<p><b>Question List</b></p>

@foreach (Question question in Model.allQuestions)
{
        <label>@question.QuestionNo</label>
        <label>@question.QuestionText</label>
    }

